%h1 Listing customers

%table
  %tr
    %th Customer
  - @customers.each do |customer|
    %tr
      %td= "#{customer.fname} #{customer.lname}"
      %td= link_to 'Show', customer
      %td= link_to 'Edit', edit_customer_path(customer)
      %td= link_to 'Delete', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

// %br
= link_to 'New Customer', new_customer_path
