%p#notice= notice
%h2 Customer Details
%div.customer
  %div.name
    %span Name:
    %span= @customer.fname
    %span= @customer.lname
  %div.age
    %span Age:
    %span= Customer.age(@customer.dob)
  %div.dob
    %span Birthday:
    %span= @customer.dob.strftime("%m-%d-%Y")
  %div.updated
    %span Updated At:
    %span= @customer.updated_at ? @customer.updated_at.strftime("%m-%d-%Y %I:%M:%S %p") : nil

%h3 Customer Orders
%div.orders
  %table
    %tr
      %th Order ID
      %th Total
      %th Date Placed
    %tbody
    - @customer.orders.each do |order|
      %tr
        %td=link_to order.id, order
        %td=order.order_total
        %td=order.order_placed
%br
= link_to 'Edit', edit_customer_path(@customer)
= link_to 'Back', customers_path

